body {
  background-color: #ceffd5;
}

.self-image {
  margin-top: 40px;
  float:right;
  border: outset 5px #92f4a1;
  border-radius: 10%
}

img {
  max-width: 300px;
  height: auto;
  border-radius: 10%
}

.container2 {
  margin-top: 40px;
}
