body {
  background-color: #ceffd5;
}

.self-image {
  margin-top: 40px;
  float:right;
  border: outset 5px #92f4a1;
  border-radius: 10%
}

img {
  max-width: 300px;
  height: auto;
  border-radius: 10%
}

p {
  color: #565372;
}

.nametag {
  float:left;
  margin-top: 150px;
  color: #755799;
}

.aboutme {
  float: left;
}

.project-header {
  padding: 3px;
  margin-top: 10px;
}

.well {
  background-color: #fcf58d;
}

.pictures {
  float:right;
  padding-left: 100px;
}

h4 {
  margin-top: 70px;
}

.many {
  color: purple;
}
